# IDE
.idea/
*.swp
*.swo
*~

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vs/

# OS
.DS_Store
Thumbs.db

# NuGet
packages/
*.nupkg

# Build
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Firebase functions
functions/node_modules/
functions/hosting/
